@font-face {
  font-family: IndustryIncW00-InStroke;
  src: url("font.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: #f2f6e9;
}

.navbar {
  background:#0099ff;
  font-family: IndustryIncW00-InStroke;
}
.navbar-brand {
  cursor: default;
  color: #ffffff;
}

.navbar-brand:hover {
  cursor: default;
  color: #ffffff;
}

i:hover{
  color: #000000;
  cursor: default;
}

i{
  color: #000000;
  cursor: default;
}

.header {
  background-image: url("images/header-image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #0099ff;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#hr2{
  width: 60%;
}

#IR{
  background-color: #f2f2f2;
}

#IN{
  background-color: #f2f2f2;
}

#SB{
  background-color: #f2f2f2;
}

#SL{
  background-color: #f2f2f2;
}

#IRP{
  background-color: #f2f2f2;
  text-align: right;
}
#INP{
  background-color: #f2f2f2;
  text-align: right;
}

#HT{
  text-align: right;
}

#HT::placeholder{
  text-align: right;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
